/****** BASE STYLES ******/

@font-face {
	font-family: 'WisdomScript';
	src: url('../WisdomScript.otf') format ('opentype')
}
/* Font downloaded from FontsForWeb.com */

body {
     font-family : 'Montserrat', Helvetica, Arial, sans-serif;

  }

/****** GRID ******/

  .container {
      max-width: 2000px;
      margin: 0 auto;

  }

/****** HEADER ******/

header {
    height: 800px;
    border-bottom: 3px solid #77a466;
   background: url('../img/fresh-veg.png');
	 background-size: cover;

}

.main-image {
    padding-left: 40px;

}

header h1 {
    float: left;
    margin: 0;
    padding: 38px 0;

}

header h1 span {
      color: #f43f38;

}

header nav {
	 float: right;
	 padding: 46px 20px;

}

header nav ul {
   padding: 0;
	 margin: 0;

}

header nav ul li {
    text-transform: uppercase;
		font-size: 25px;
	  font-weight: 700;
		display: inline;
    padding: 0 30px;
}

header nav ul li a {
    text-decoration: none;
	  color: #f43f38;


}

  h1,
  h2,
  h3,
  h4 {
      color: #000000 ;
      text-transform: uppercase;
      font-weight: 700;

  }

h1 {

		font-size: 45px;
	}

h2 {
	 font-size: 24px;
}

h3 {
   font-size: 18px;


}

h4 {
  font-size: 12px;

}

p {
	font-size: 20px;
   line-height: 21px;
   padding: 0 30px;

}



.top-section,
.bottom-section {
   margin: 0 auto;
	 clear: both;

}

  .main-title {
		color: #000000;
    text-transform: uppercase;
  }

.span {
   color: #77a466;

}

.nav {
   color: #77a466;
   height: 14px;
   float: right;
   text-align: center;

}

.top-section,
.bottom-section {
    clear: both;
	  margin: 0 auto;

}

.main-image {
	height: auto;
	float: left;
}

.main-image img {
	border-bottom: 3px solid #77a466;


}


#about h3 {
    color: #77a466;
	  text-align: center;
		font-size: 40px;


}


.section-one,
.section-two,
.section-three {
    width: 33.25%;
		height: auto;
		float: left;


}

.section-one h4 {
  padding: 10px 20px;
	font-size: 30px;

}

#humus {


}

 .section-two h4 {
    font-size: 28px;

 }

.section-two p {
    font-size: 24px;


}

.section-two h4,
.section-three h4 {
    padding: 10px 30px;
		color: #f43f38;

}

.section-three h4 {
   font-size: 40px;
	 text-align: right;
	 padding-top: 100px;
	 text-decoration: underline;

}

.menu {
    list-style: none;
		padding: 0;

}

.menu li {
    color: #77a466;
		padding: 10px 30px;
		font-size: 30px;

}
#specials h1 {
	font-size: 40px;
 text-align: center;
 padding-top: 100px;
 padding-left: 20px;
 text-decoration: underline;

}

.reviews {
   color: #black;
   font-size: 16px;
   line-height: 21px;
	 font-weight: 700;

}
#reviews {
   width: 100%;
	 float: left;
	 font-size: 24px;
	 text-align: center;
	 padding-bottom: 50px;

}


#location h3 {
	text-align: center;
	float: right;
	padding-top: 150px;
	padding-right: 100px;
	font-size: 30px;
}

.address {
	color: #black;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-align-last: center;

}

.footer {
   height: 70px;
	 margin: 10px 0;
	 border-top: 3px solid #77a466;
	 clear: both;
	 text-align: center;


}

.footer span {
     color: #77a466;
		 text-transform: lowercase;
		 font-family: 'wisdom-script' cursive;
		 font-size: 14px;

}
